@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  outline: none;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

/* COLORS */
/* PARTICLES */
#particles-js {
  position: fixed;
  top: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}

/* LIGHT MODE / NORMAL */
body {
  background-color: #e1e1e1;
  color: #1e1e1e;
  transition: background 1s, color 1s;
}
body #particles-js {
  filter: invert(1);
  pointer-events: none;
  transition: background 1s, color 1s;
}
body header {
  position: relative;
}
body header .fa-solid {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 3rem;
  cursor: pointer;
}
body header .welcome {
  width: 100%;
  text-align: center;
  color: #007acc;
  transition: background 1s, color 1s;
  font-size: 1.5rem;
}
body header .welcome .title-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .welcome h1 {
  padding: 1.5rem 1rem;
  font-size: 3.5rem;
  transform: scaleY(1.1);
  background: linear-gradient(90deg, #007acc 0%, #53aae4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body header .welcome img {
  height: 4.5rem;
}
body header .welcome h2 {
  padding: 0.5rem 0;
  color: #1e1e1e;
  transition: background 1s, color 1s;
}
body header .welcome .menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
body header .welcome .menu button {
  background-color: #007acc;
  color: #e1e1e1;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border: 0;
  cursor: pointer;
}
body header .welcome .menu button i {
  cursor: inherit;
  position: relative;
  font-size: 1em;
  padding: 0.5rem;
}
body header .welcome .menu button.start {
  background-color: #5cb85c;
}
body header .welcome .menu button.stop {
  background-color: #d9534f;
}
body header .welcome .menu button.pause {
  background-color: #f0ad4e;
}
body header .welcome .menu button:disabled {
  opacity: 0.6;
  filter: grayscale(0.5);
  cursor: not-allowed;
}
body main {
  width: 100%;
  height: calc(100vh - 12rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #myCanvas {
  background-color: white;
}
body main .container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body main .container2 {
  flex: 1;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body main .container2 canvas {
  background-color: rgba(225, 225, 225, 0.8);
  transition: all 1s;
}
body main .container2 .upper {
  flex: 1.5;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main .container2 .lower {
  flex: 1;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .options_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(218, 218, 217, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
body .options_container .options-outer {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
body .options_container .options-outer i.fa-circle-xmark {
  position: absolute;
  right: 6.5rem;
  top: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}
body .options_container .options {
  width: 55rem;
  max-width: 90%;
  min-height: 20rem;
  max-height: 50vh;
  border-radius: 2rem;
  background-color: #e1e1e1;
  box-shadow: 0 0 10px 6px rgba(30, 30, 30, 0.5);
  overflow-y: scroll;
}
body .options_container .options::-webkit-scrollbar {
  display: none;
}
body .options_container .options button:hover {
  filter: brightness(1.1);
}
body .options_container .options h1 {
  margin: 2rem;
  text-align: center;
  font-size: 2.5rem;
}
body .options_container .options h1 .fa-solid {
  font-size: 2rem;
  margin: 0 0.5rem;
}
body .options_container .options h2 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}
body .options_container .options p.error {
  color: #d9534f;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
}
body .options_container .options .row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
  font-size: 1.5rem;
}
body .options_container .options .row .num {
  font-size: 1.6rem;
  font-weight: 600;
  color: #007acc;
}
body .options_container .options .row input {
  background-color: #007acc;
  color: #e1e1e1;
  border: 0;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
body .options_container .options .row input::-moz-placeholder {
  color: #dadad9;
}
body .options_container .options .row input:-ms-input-placeholder {
  color: #dadad9;
}
body .options_container .options .row input::placeholder {
  color: #dadad9;
}
body .options_container .options .row input#neurons_num {
  width: 10rem;
}
body .options_container .options .row input#population_num {
  width: 12rem;
}
body .options_container .options .row select, body .options_container .options .row button {
  background-color: #007acc;
  color: #e1e1e1;
  border: 0;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
body .options_container .options .row button {
  cursor: pointer;
}
body .options_container .options .layers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
body .options_container .options .layers .layer {
  position: relative;
  width: 80%;
  padding: 1rem;
  font-size: 1.8rem;
  border: 0.1rem solid #007acc;
}
body .options_container .options .layers .layer i {
  position: absolute;
  right: 1rem;
  color: #d9534f;
  cursor: pointer;
}
body .options_container .options .layers .layer .num {
  color: #ff8533;
}
body .options_container .options .layers .layer select {
  background-color: #dadad9;
  border: 0;
  color: #1e1e1e;
  padding: 0.1rem 0.5rem;
}
body .options_container .options .buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}
body .options_container .options .buttons button {
  border: 0;
  border-radius: 0.5rem;
  padding: 0.6rem 2rem;
  font-size: 1.5rem;
  color: #e1e1e1;
  cursor: pointer;
}
body .options_container .options .buttons button.save {
  background-color: #5cb85c;
}
body .options_container .options .buttons button.discard {
  background-color: #d9534f;
}
body .options_container .options .cb_con {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
body .options_container .options .cb_con label {
  margin-left: 1rem;
}
body .options_container .options .cb_row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  margin: 1rem 0;
}
body .options_container .options .cb_row label {
  margin-right: 1rem;
}
body .options_container .options .rb_con {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  margin: 2rem 0;
}
body .options_container .options .rb_con input[type=radio] {
  margin-left: 1.5rem;
}
body .options_container .options .range_con {
  justify-content: center;
}
body .options_container .options .range_con #surviv {
  -webkit-appearance: none;
  width: 80%;
  height: 2rem;
  opacity: 0.7;
  background-color: #c1c1bd;
  border-radius: 0;
  padding: 0;
}
body .options_container .options .range_con #surviv:hover {
  opacity: 1;
}
body .options_container .options .range_con #surviv::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: #007acc;
}
body .options_container .options .range_con #surviv::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background-color: #007acc;
}

/* DARK MODE */
.dark {
  background-color: #1e1e1e;
  color: #e1e1e1;
}
.dark #particles-js {
  filter: invert(0);
}
.dark header .welcome h2 {
  color: #e1e1e1;
}
.dark .container2 canvas {
  background-color: rgba(30, 30, 30, 0.8);
}
.dark .options_container {
  background-color: rgba(37, 37, 38, 0.5);
}
.dark .options_container .options {
  background-color: #1e1e1e;
  box-shadow: 0 0 10px 6px rgba(225, 225, 225, 0.15);
}
.dark .options_container .options .layers .layer select {
  background-color: #252526;
  color: #e1e1e1;
}
.dark .options_container .options .range_con #surviv {
  background-color: #3e3e42;
}/*# sourceMappingURL=play.css.map */